* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #ededed;
  background-image: url(../images/aurora-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  display: flex;
  height: 80vh;
  width: 80vw;
  border-radius: 15px;
  border: 1px solid #1d213f;
  backdrop-filter: blur(20px);
  background: rgba(29, 33, 63, .6);
}