::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: #1d213f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #ededed;
  background-image: url(./aurora-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  display: flex;
  height: 90vh;
  width: 90vw;
  border-radius: 15px;
  backdrop-filter: blur(30px);
  background: rgba(29, 33, 63, .6);
  box-shadow: 0 0 50px #5a5a5a;
}